<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httppostsendmail20200614204433.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b992032e-d6ed-4997-903a-32cb13a1bec5/resourcegroups/dev-free-rg/providers/Microsoft.Web/sites/HttpPostSendMail20200614204433</ResourceId>
    <UserName>$HttpPostSendMail20200614204433</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://httppostsendmail20200614204433.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>